Proje/HomisManagement/node_modules/
Proje/HomisPlayer/node_modules/
Proje/HomisPlayer/playerId.txt
Proje/HomisManagement/webservices/mediaresources/
Proje/HomisPlayer/presentation/
Proje/HomisPlayer/player.txt
