/*
	@name ekranb
*/
/* Only edit this if you know what you are doing!*/
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing!
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
*/
/* Only edit this if you know what you are doing! */
@font-face {
    font-family: headerFont;
	src: url( ../media/font/SWZ921N.woff);

 }
@font-face {
    font-family: drinksHeaderFont;
    src: url( ../media/font/TL_arial.ttf);
}
p{
	color: white;
    font-size: 28px;
    margin-top: -15px;
    font-family: Swiss721BT-Medium, Arial, Helvetica, sans-serif;
	
}
.header{
	
	 
	font-family: headerFont;
	font-size: 60px;
	text-align: center;
	color:#CBB395;
	font-weight: 400;
	
	
	
}
.smalltext{
	font-size:24px;
	vertical-align:text-top;
	
	
	
	
}
.drink{
 	
    left: -36px;
    width: 360px;
    height: 43px;
    font-family: Swiss721BT-Medium, Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-align: left;
    color: white;
	
	
	
}
.leftmenu{
	width:100%;
	height:30% ;
	position:relative !important;
	
	
	
}
.menuitemheader{
	    position: relative;
    font-family: drinksHeaderFont;
    font-size: 47px;
    font-weight: bold;
    text-align: left;
    color: #CBB395;
	
	  
}
.animationclass{
	  -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 1s;
     -webkit-animation-timing-function: ease;
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes rightThenLeft {
	 from{-webkit-transform:translate(500px);}
    to{-webkit-transform:translate(0px);}
  }
 @-webkit-keyframes leftThenRight {
    from{-webkit-transform:translate(-500px);}
    to{-webkit-transform:translate(0px);}
 }
 .marquee {
	  -webkit-animation-name: rightThenLeft;
	  -webkit-animation-duration: 1.5s;
     -webkit-animation-timing-function: ease;
}
.item	{
 	
    left: 45px;
    width: 100px;
    height: 43px;
    font-family: TLArial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 35px;
    /* transform: scale(2.439,2.439); */
    text-align: center;
    color: white;
    background-position: right;
    background-repeat: no-repeat;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    word-spacing: -6px;
    text-align: -webkit-right;

}
.small{	

}
.large
{	
left:110px;
 
}

#content-container  div {position: absolute; }

#content-container {
	display: block;
	position: relative;
	width: 1920px;
	height: 1080px;
	overflow: hidden;zoom:1!important;
	line-height: 1.3 !important;
	background: url(../media/bg.jpg);

}
ul {	margin-top:20px;
		display: flex;
        list-style: none outside none;
    }

li {
		position: relative;
        display: table;
    }
 
#header_image {
	top: 22px !important;
	position: relative !important;
	left: 20px;
	width: 96px;
	height: 33px;
		background: url(../media/vector_smart_object_1.png);
	background-repeat:no-repeat;
	}


#right_bottom_image {
	width:100%;
	top: 540px !important;
	position: relative !important;
	left: 641px;
 	height: 811px;
	background: url(../media/vector_smart_object_2.png);
 	background-repeat:no-repeat;
}
 

#text {
	top: 45px;
	left: 48px;
	width: 62%;
	height: 100%;

}
 
#right{
z-index:1;
position:absolute;
height:100%;
right:0px;
top:0px;
width:38%;

}

#right-image{
height:100%;
right:0px;
top:0px;
width:100%;
}

#right img
{
-webkit-filter: blur(30px);
filter: blur(30px);
-webkit-transition: 3s ease-in-out;
transition: 3s ease-in-out;
width:100%;
display:none;
}

#right img.active{
-webkit-filter: blur(0px);
filter: blur(0px);
  	-webkit-transition: 3s ease-in-out;
	transition: 3s ease-in-out;
  display:block;

}

/* Add your custom CSS here */

