@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes bottomThenTop {
	 from{-webkit-transform:translateY(750px);}
    to{-webkit-transform:translateY(0px);}
  }
 @-webkit-keyframes leftThenRight {
    from{-webkit-transform:translate(750px);}
    to{-webkit-transform:translate(0px);}
 }
  .marqueebottomThenTop{
	-webkit-animation-name: bottomThenTop;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease;
	font-size: 40px;
	margin-left: 40px;
	margin-top: -95px;
	font-family: sans-serif;
	line-height: 2.9;
	color: #520000;
	font-weight:bold;
}

.marqueeleftThenRight {
	width: 250px;
    height: 250px;
    -webkit-animation-name: leftThenRight;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    margin-left: 400px;
    margin-top: 14px;
    border-radius: 20px;
}

#foursquare{
	  background: url("../../media/swarm-bg2.png") no-repeat;
 

}
p{
 font-size: 35px;
     margin-top: -50px;

	font-family: sans-serif;
	color:white;
	margin-left:20px;
}
