body{
  background:url(../media/wallpaper.jpg);
  background-size: cover; 
  overflow:hidden;
}
.wall_screen:hover
{
background-color:white;
}
.wall_screen
{
	border: 1px solid white;
	background: url(../media/plus.png);
	background-repeat: no-repeat;
	background-size: contain;	
  background-position: 50% 50%;
}
.screenmodal{
	background:white;
}
.screentitle{
	text-align: -webkit-center;
	font-size:2rem
}
.screenbody{
	width: 100%;
	height: 100vh
}
.screencontainer{
	width: 100%;
	height: 100%;
	margin-left: 0px;
	display: -webkit-inline-box;
	
}
.changeTime{
  float:right;
}
.close {display: none;}
.screenfooter{
	padding-top: 3%;
	padding-right: 3%;
	float: right;
}
#drophere{
	padding: 0;
	background:url(../media/dragdrop.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#timeline {
  height:100%;
}

.wall
{
	display: -webkit-inline-box;
	float:left;
	position: relative;
	-webkit-box-align : center;
	align-items : center;
	-webkit-box-pack : center;
	justify-content : center;
	box-sizing: inherit;
}