
.column4
{
  padding-left:0 !important;
  padding-right:0 !important;
  background-color: white !important;
  height:100%;
  border:1px solid #428bca;
  border-radius: 4px;
  overflow:auto;
}
.column3
{
  padding-left:0 !important;
  padding-right:0 !important;
  height:100%;
  border:1px solid #428bca;
  border-radius: 2px;
  overflow:auto;
}
.containerclass
{
  background-color: rgb(229, 229, 229) !important;
  height:100% !important;

}
.rowclass
{
  height:85% !important;
}

#adminPanel
{
display:none;

background-color: white !important;
}
#workspaceDiv
{
}
.logoutbutton
{
  float: right;
  margin-top: -25px;
  /* height: 4vh; */
  margin-right: -15px;
}
.formelement
{
  width:100% !important;
}
#userTypeMenu
{
  margin-top:10px;
}
#username
{
float:left;  
}
#userId
{
  display:none;
}
#userForm
{
  margin-left:6%;
}
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; 
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    left:27px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
#upload_file {
    width: 100%;
    height: 25px;
    opacity: 0;
    /* position: absolute; */
    top: 0;
    margin-top: -9%;
    left: 0;
}
#uploadingfiles
{
  width: 100%;
/*   height:79%; */
  border: 1px solid #428BCA;
  overflow: auto;
}
#mediaResourcesDiv
{
  width: 100%;
  height:100%;
  
}
  html,body,.container
{
  height:100%;
  width:100%;
  padding: 0;
}
/*bootstrap overrides */
.container {
    max-width: 100%;
  }
.row {
    margin: 0;
}
.col-md-3 {
    width: 24%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.panel-heading
{
  border-radius:0px;
}
.panel
{
  border-radius:0px;
}