.bodyclass
{
  height:100vh !important;
}
.column4
{
  padding-left:0 !important;
  padding-right:0 !important;
  background-color: white !important;
}
.column3
{
  padding-left:0 !important;
  padding-right:0 !important;
}
.containerclass
{
  background-color: rgb(229, 229, 229) !important;
  height:100% !important;
}
.rowclass
{ margin:2% !important;
  height:85% !important;
}
#players
{
margin-left: 2% !important; 
}
#adminPanel
{
display:none;
margin-left: 2% !important; 
background-color: white !important;
}