html,body,#content
{
margin:0px;
padding:0px;
height:100%;
width:100%;
background-color:black;
}

#content
{
position:absolute;
left:0px;
top:0px;
    overflow: hidden;
}

#left{
z-index:2;
position:absolute;
height:100%;
left:0px;
top:0px;
width:36.458%;
background: url("/media/bg.jpg");


}

#left-image{
position:absolute;
height:100%;
width:100%;
}

#rightDiv{
z-index:2;
position:absolute;
height:100%;
right:0px;
top:0px;
width:35.42%;
background: url("/media/bg.jpg");

}
.imagedialog
{
  width:100% !important;
}
#right
{
z-index:1;
position:absolute;
height:100%;
left:36.364582%;
width:28.23%;
}

#right-image{
width:100%;
height:100%;
right:0px;
top:0px;
}

#right img
{
display:none;
width:100%;
height:100%
}

#right img.active{
  display:block;
}

@font-face {
    font-family: headerFont;
	src: url( "/media/font/SWZ921N.woff");

 }
@font-face {
    font-family: drinksHeaderFont;
    src: url( "/media/font/TL_arial.ttf");
}
.leftcontrol{
	 width:100%;
	 height:100%;
	 margin-top: 55px;
	 margin-left: 50px;
	
	
}
p{
	    color: white;
    font-size: 17px;
    font-family: Swiss721BT-Medium, Arial, Helvetica, sans-serif;
	
}
.header{
	
	 
	font-family: headerFont;
	font-size: 60px;
	text-align: center;
	color:#CBB395;
	font-weight: 400;
	
	
	
}
.smalltext{
	font-size:24px;
	vertical-align:text-top;
	
	
	
	
}
.drinkleft{
	
    left: 60px;
    width: 386px;
    height: 35px;
    font-family: Swiss721BT-Medium, Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-align: left;
    color: white;
	
}
.drinkright{
	
    left: 60px;
    width: 386px;
    height: 35px;
    font-family: Swiss721BT-Medium, Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-align: left;
    color: white;
	
}
.leftmenu{
	width:100%;
	height:33%;
	position:relative;
	
	
	
}
 
.itemheader{
	 left: 390px;
    width: 113px;
    height: 35px;
    font-family: Swiss721BT-Medium, Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    color: white;
	
	
}

.itemright	{
 	
    left: 55px;
    width: 100px;
    height: 43px;
    font-family: TLArial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 35px;
    /* transform: scale(2.439,2.439); */
    text-align: center;
    color: white;
    background-position: right;
    background-repeat: no-repeat;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    word-spacing: -6px;
    text-align: -webkit-right

}
.itemleft	{
 	
    left: 55px;
    width: 100px;
    height: 43px;
    font-family: TLArial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 35px;
    /* transform: scale(2.439,2.439); */
    text-align: center;
    color: white;
    background-position: right;
    background-repeat: no-repeat;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    word-spacing: -6px;
    text-align: -webkit-right

}
.small{	

}
.large
{	
left:110px;
 
}
.rightbottomimage
{
  left:55%;
  width:44%;
  top:56.5%;
  border:0px  !important;
}
#right_bottom_image {
	width:78%;
	position: relative !important;
	height: 350px;
 	background-repeat:no-repeat;
}
 
#content-container  div {position: absolute; }

#content-container {
	display: block;
	position: relative;
	width: 1920px;
	height: 1080px;
	overflow: hidden;zoom:1!important;
	line-height: 1.3 !important;

}
 ul 
 {	
  margin-top:20px;
  display: flex;
  list-style: none outside none;
 }

 li
 {
  position: relative;
  display: inline;
 }

 .animationclass{
	  -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 1s;
     -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes rightThenLeft {
	 from{-webkit-transform:translate(500px);}
    to{-webkit-transform:translate(0px);}
  }
 @-webkit-keyframes leftThenRight {
    from{-webkit-transform:translate(-500px);}
    to{-webkit-transform:translate(0px);}
 }
 .marqueerightThenLeft {
	  -webkit-animation-name: rightThenLeft;
	  -webkit-animation-duration: 1.5s;
     -webkit-animation-timing-function: ease;
}
.marqueeleftThenRight {
	  -webkit-animation-name: leftThenRight;
	  -webkit-animation-duration: 1.5s;
     -webkit-animation-timing-function: ease;
}
#header_image {
	top: 20px !important;
	position: relative !important;
	left: 20px;
	width: 96px;
	height: 33px;
	background: url("/media/vector_smart_object_1.png");
	background-repeat:no-repeat;
	}
.leftbottomimage
{
  left:50px;
  width:100%;
  border:0px  !important;
}
#left_bottom_image {
	width:60%;
	position: relative !important;
	height: 300px;
 	background-repeat:no-repeat;
} 


#text {
	top: 45px;
	left: 48px;
	width: 1988px;
	height: 952px;
}