
::-webkit-scrollbar { 
    display: none; 
}


html, body{
    height:100%;
    margin:0;
    padding:0;
}

body {
    margin:0;
    font-family: "Open Sans", sans-serif;
    font-size:100%;
    line-height:1.7;
    height:100%;
	width:100%;
	background: url("../media/bg.jpg") repeat;
}

a {color: #08c9b9;}

div {-webkit-border-radius : 5px !important;}
html,body,#content
{
margin:0px;
padding:0px;
height:100%;
width:100%;
background-color:black;
}
#leftside{
width:70%;
height:100%;
}
.leftbottom{width:100%;height:30%;display: -webkit-inline-box;}
#weatherline{width:50%;height:100%;}
#instagramline{width:100%;height:100%;}
#content
{
position:absolute;
left:0px;
top:0px;
}

#left{
z-index:2;
position:absolute;
height:100%;
left:0px;
top:0px;
width:62%;


}

#right{
z-index:1;
position:absolute;
height:100%;
right:0px;
top:0px;
width:38%;
}
#twitter{
     z-index: 1;
     right: 0px;
    top: 0px;
width:100%;
height:70%
 }
#foursquare {
    background: url(../media/swarm2.png) no-repeat;
    z-index: 1;
	width:50%;
	height:100%;
	margin-left: 7px;
    background-size: 115%;
    
}



#weather{
z-index: 1;
    position: absolute;
    height: 35%;
    right: 0px;
    top: 70%;
    width: 100%;
}
@media only screen and (width: 1024px)  {
    
#foursquare {
    background: url(../media/swarm2.png) no-repeat;
    z-index: 1;
     height: 35%;
    right: 0px;
    top: 35%;
     width: 100%;
    background-size: initial;
    background-position-x: 0px;
    background-position-y: 0px;
}
.marqueebottomThenTop {
    -webkit-animation-name: bottomThenTop;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    font-size: 27px;
    margin-left: 25px;
    margin-top: -10px;
    font-family: sans-serif;
    line-height: 0.9;
    color: #520000;
    font-style: normal;
    font-variant: normal;
}
.marqueeleftThenRight {
    width: 160px;
    height: 160px;
    -webkit-animation-name: leftThenRight;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    margin-left: 200px;
    margin-top: 14px;
    border-radius: 20px;
}
 #bilimtekweather1 {
    box-sizing: border-box;
    height: 30vh !important;
    top: 70%;
    left: -8px;
    width: 100% !important;
    margin-top: 10px!important;
    border-radius: 10px !important;
    border: 1px solid !important;
}
#twitter {
     z-index: 1;
    position: absolute;
    background-size: cover;
    height: 35%;
    right: 0px;
    top: 0px;
    width: 100%;
    background-position-y: 0px;
    background-position-x: -60px;
}

}
.fullWidth{
    width:100%;
}



.main_container {
    height:100%;
    position:relative;
    overflow: hidden;
}


.leftcolumn {
    position:absolute;
    top:0px;
    left:0px;
    max-width: 50%;
    max-height:100%;
}

.leftcolumn img{
    object-fit: cover;
}

.rightcolumn {
    position:absolute;
    top:0px;
    left:50%;
    width: 50%;
    height:100%;
    margin-right: 1em
}

#bilimtekweather1{
        height: 30vh;
    width: 99% !important;
}

#qrcode{
	float:left;
    box-sizing: border-box;
    /* margin-top: 0.5rem; */
    height: 35vh;
	width:35vh !important;
	margin-left:2% !important;
	margin-top:-1% !important;
	background: url("../media/twitter-qr2.png") no-repeat;
    background-size: 115%;
	background-position: 50% 50%;
	border-radius:5px !important;
}

.imgContainer{
    max-width: 98%;
    max-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.imgContainer  img{
    width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;


       
}

.socialmediapicturecontainer{
    display: inline-block;
    max-height: 100%;
    height:100%;
    width: 98%;
    overflow-y: scroll;
}

#container{
    overflow-y:hidden; 
    overflow-x:hidden;
    height:100vh;  
    box-sizing: border-box;
	display: -webkit-inline-box; 
	width: 100%;
	background:url(../media/bg.jpg)
}

#row1{
    height: 80vh;
    max-height: 80vh;

}

#row2{
    height: 20vh;
    max-height: 20vh;
    max-width: 100%;
    vertical-align: middle;

}

.marquee {
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
  height:100%;
  width:100%;
  font-size:500%;
  line-height:1.7;
  text-align: center;
  vertical-align: middle;
 
}

.socialColumn{
    overflow-x:hidden;
    margin-left: 1em;
    box-sizing: border-box;
}


#kayanyazi{
    /* col-* elementlerinin style'inda padding-right:1rem var. Kayan yazi'da override etmek gerekiyor ki ekrana tam yayilsin;
    */
     padding-right:0rem !important;
     margin-top: 1.2rem;

}

.lefttop {
    height:65vh !important;
    /*background: url("../media/bg.png") no-repeat;*/
}

iframe {
    display:block;
    width:100%;
    height:100%;
    -webkit-border-radius : 10px !important;
}

.ws-container{
	float:left;
	width:98% !important;
	 
}