html,body
{
height:100%;  
}
body{
  background:url(../media/wallpaper.jpg);
  background-size: cover; 
  overflow:hidden;
  margin-right:0px !important;
}
.workspacecontainer
{
  height :100%;
}
.workspacepanelfooter
{
  height:20%
}
.wall_screen:hover
{
  background-color:white;
}
#onIframeMediaResources { list-style-type: none; margin: 0; padding: 0; }
#onIframeMediaResources li { margin: 3px; padding: 1px; float: left;  font-size: 1em; text-align: center; }
li.selected { background: #F39814; color: white; }
li.unselected { background: white; color: black; }
#onUserMediaResources { list-style-type: none; margin: 0; padding: 0; }
#onUserMediaResources li { margin: 3px; padding: 1px; float: left;  font-size: 1em; text-align: center; }
.my-handle {
  cursor: move;
  cursor: -webkit-grabbing;
}
.wall_screen
{
  border: 1px solid white;
  background: url(../media/plus.png);
  background-repeat: no-repeat;
  background-color: darkgrey;
  background-size: contain;
  background-position: 50% 50%;
}
.removeScreen
{
  float:right;
}
.modaldesign
{
  overflow:hidden !important;
}
.screenmodal{
	background:white;
}
.screentitle{
	text-align: -webkit-center;
	font-size:2rem
}
.screenbody{
	width: 100%;
	height: 100vh
}
.screencontainer{
	width: 100%;
	height: 100%;
	margin-left: 0px;
	display: -webkit-inline-box;
	
}
.column4
{
  padding-left:0 !important;
  padding-right:0 !important;
  background-color: white !important;
  height:100%;
  border:1px solid #428bca;
  border-radius: 2px;
  overflow:auto;
}
.column3
{
  padding-left:0 !important;
  padding-right:0 !important;
  height:100%;
  border:1px solid #428bca;
  border-radius: 2px;
  overflow:auto;
}
.workspacepanel
{
  margin-bottom:0px; 
  height:100% 
}
.workspacepanelbody
{
  height:100% 
}
.changeTime{
  float:right;
}
.close {display: none;}
.screenfooter{
	padding-top: 3%;
	padding-right: 3%;
	float: right;
}
.configdialog
{
  width:100% !important;
  height:100% !important;
}
.configbody
{
  height:85% !important;
}
#drophere{
	padding: 0;
	background:url(../media/dragdrop.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.screenconfigfooter
{   padding :0;
    margin-top: 1%;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
#timeline {
  height:40%;
}
#screenConfigModal
{
  margin-left:5% !important;
  width:90% !important;
}
.imagedialogModal
{
  width:100%;
}
#videoResources
{
  width:100%;
}
#onUserVideoResources
{
   width:100%;
 
}
#textConfigModal
 {
    width: 32%;
    height: 40%;
    left: 33%;
    overflow: hidden;
    top: 15%;
}
#onUserMediaResources
{
  width:100%;
  height:100%;
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#onUserMediaResources li 
{
  margin: 3px; 
  padding: 1px; 
  float: left;  
  font-size: 1em; 
  text-align: center; 
}
#onIframeMediaResources
{
  width:100%;
  height:100%;
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#onIframeMediaResources li 
{
  margin: 3px; 
  padding: 1px; 
  float: left;  
  font-size: 1em; 
  text-align: center; 
}
#screenConfigDiv
{
  overflow: hidden;
}
.wall
{
	float:left;
	position: relative;
	-webkit-box-align : center;
	align-items : center;
	-webkit-box-pack : center;
	justify-content : center;
	box-sizing: inherit;
  list-style-type: none;
}
#workspaceName
 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
label > input{ /* HIDE RADIO */
  display:none;
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}
.rowclass
{
  height:100%;
}
#workspaceForm
{
  background-color: rgb(229, 229, 229) !important;
  height: 70%;
  border: 5px solid #428BCA;
  overflow-y: scroll;
  border-radius: 5px;
  width: 98.6%;
  margin-left: 0.7%;
}
#players
{
  overflow:hidden;
}
.newScreen{
  width:100%;
  height:auto;
  border: 1px solid #010101;
  background-color: #D2D9DE;
  overflow: auto;
}
.newVerticalScreen{
  width:30%;
  height:96%;
  overflow:auto;
  border: 1px solid #010101;
  background-color: #D2D9DE;
}

#managerPageButton
{
  float: left;
  margin-top: -25px;
  margin-left: -15px;
}
