body{
  background:url(../media/wallpaper.jpg);
  background-size: cover; 
  overflow:hidden;
}
.wall_screen:hover
{
  background-color:white;
}
.wall_screen
{
  border: 1px solid white;
  background: url(../media/plus.png);
  background-repeat: no-repeat;
  background-color: darkgrey;
  background-size: contain;
  background-position: 50% 50%;
  display:table-cell;
}
.modaldesign
{
  overflow:hidden !important;
}
.screenmodal{
	background:white;
}
.screentitle{
	text-align: -webkit-center;
	font-size:2rem
}
.screenbody{
	width: 100%;
	height: 100vh
}
.screencontainer{
	width: 100%;
	height: 100%;
	margin-left: 0px;
	display: -webkit-inline-box;
	
}
.changeTime{
  float:right;
}
.close {display: none;}
.screenfooter{
	padding-top: 3%;
	padding-right: 3%;
	float: right;
}
#drophere{
	padding: 0;
	background:url(../media/dragdrop.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#timeline {
  height:100%;
}

.wall
{
	display: -webkit-inline-box;
	float:left;
	position: relative;
	-webkit-box-align : center;
	align-items : center;
	-webkit-box-pack : center;
	justify-content : center;
	box-sizing: inherit;
}
#workspaceForm
{
  background-color: rgb(229, 229, 229) !important;
  height: 43pc;
  border: 5px solid #428BCA;
  overflow-y: scroll;
  border-radius: 5px;
  width: 98.6%;
  margin-left: 0.7%;
}
.newScreen{
  width:100%;
  height:50%;
  border: 1px solid #010101;
  background-color: #D2D9DE;
}
#managerPageButton
{
  float: left;
  margin-top: -25px;
  margin-left: -15px;
}