[Desktop Entry]
Type=Application
Name=homisstartup
Comment=Starts the node webkit application homis at startup of computer.
Exec=/home/startkafesfirin.sh
Terminal=true
OnlyShowIn=KDE;
